.logo {
  width: 200px;
  position: relative;
  top: -11px;
}
#mission {
	background-color: rgba(32, 35, 41, 0.9);
	color: #ddd;
	text-align: center;
}
#about {
	padding-top: 30px;	
}
#buzz {
	text-align: center;
	padding-top: 30px;
}
h2{
	font-family: 'Sansita', sans-serif;
}
.navbar-inverse {
    background-color: rgba(32, 35, 41,0.8);
}
.carousel-inner img {
	padding-top: 60px;
}
img .img-circle {
	max-width: 50px
}
.col-sm-4 .img-circle {
	max-height: 200px;
	max-width: 200px
}
blockquote h3 {
	font-family: 'Sansita', sans-serif;
}
blockquote p {
	font-family: 'Sansita', sans-serif;
}
h2 {
	text-align: center;
}